@inject IViewProductByName Search

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ProductListItem list="list"></ProductListItem>
    </tbody>
</table>


@code {
    private List<Product> list = new List<Product>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        list = (await Search.ExecuteAsync(this.SearchTerm)).ToList();
    }

}
